@charset "UTF-8";
/* CSS Document */

@import "blueprint/reset";
@import "blueprint";
@import "blueprint/buttons";
@import "blueprint/scaffolding";
@import "blueprint/interaction";
@import "blueprint/fancy-type";
@import "compass/css3";

body {
	@include blueprint-scaffolding;
	@include blueprint-typography;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	background-image: url(../bg.gif), -moz-linear-gradient(top,  #ffffff,  #dddbd5); background-repeat:repeat-x;
	background-image: url(../bg.gif), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dddbd5)); background-repeat:repeat-x;

	margin: 0;
	padding: 0px 0px 0px 45px;
	text-align: center;
	color: #333333;
}

li {
	list-style-type: none;
}

.alert-notice {
	@include success();
}
.alert-error {
	@include error();
}


a.btn {
  @include anchor-button;
  @include button-colors;
  @include button-hover-colors;
  @include button-active-colors;
}

form {
	@include box;
	@include blueprint-form;
	@include blueprint-form-layout;
	input[type=submit] {
	  @include button-colors;
	  @include button-hover-colors;
	  @include button-active-colors;
	}
	div {
		margin: 20px;
	}
}

.header {
	margin:0px 0px 20px 0px;
	background-color:#ffffff;
	height:109px;
	position: relative;

	h1 {
		font-size: 86px;
		line-height: 86px;
		color: #ff5522;
		b {
			font-weight: bold;
		}
	}

	.btn {
		position: absolute;
		top: 0;
	}

	.pods-button {
		left: 0;
	}

	.feeds-button {
		left: 70px;
	}
}

.styled-select select {
	background: white;
	width: 300px;
	padding: 5px;
	font-size: 15px;
	border: 2px solid #bbb;
	height: 30px;
	margin: 30px 0px 0px 0px;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

.item {
	width: 225px;
	margin: 20px 0 0px 0px;
	float: left;
	border: #bbbbbb;
	border-bottom-width:2px;
	border-style:solid;
	background-color:#FFF

}

.message {
	font-size: 14px;
	width: 225px;
	color: #fff;
	background-color:#000;
	vertical-align: middle;

}

.photo {
	margin-left: auto;
	margin-right: auto;
	width: 225px;
}

.photo:hover .overlay { opacity: 0.75; }	

.overlay {
	position:absolute;
	width: 225px;
	height: 100%;
	background:#000;
	opacity:0.0;
	filter:alpha(opacity=0); 
}

.profilepic {
	float: left;
	padding: 10px;
}
.profile {
	float: left;
	margin: 10px 0px 10px 0px;;
	text-align:left;
}

.created_at {
	float: left;
	padding: 0px 0px 10px 10px;
	clear :left;
}

.info {
	float: left;
	padding: 0px 0px 10px 10px;
	text-align:left;
	height: 95px;
}

.form_container {
	padding: 5px;
	margin: 30px 0px 0px 0px;
	margin-left: auto;
	margin-right: auto;

}

.list_container {
	margin: 30px 0px 0px 0px;
	margin-left: auto;
	margin-right: auto;
}

.bottom_link {
	padding: 10px;
}

table{
	margin-left: auto;
	margin-right: auto;
}

table th, table td
{
	text-align: left;
	padding: 10px;
}

.paginate_top {
	font-size: 12px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

.paginate_bottom {
	clear: both;
	font-size: 12px;
	padding: 30px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}

