<!DOCTYPE html>
<html>
<head>
	<title>PicDrop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<script>
		var $container = $('#container');
		$container.imagesLoaded(function(){
			$container.isFitWidth: true
 			$container.masonry({
   			itemSelector : '.item',
				columnWidth: function( containerWidth ) {
   				return containerWidth / 7;
 				}
 			});
		});
	</script>

</head>
<body>
<div class="header" style="vertical-align:text-top">
	<img src="../picdrop.gif" width="301" height="109" alt="PicDrop" />
</div>

<%= yield %>

</body>
</html>
