<!DOCTYPE html>
<html>
<head>
	<title>PicDrop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<script>
		$(function(){
  		$('#container').masonry({
    	// options
    	itemSelector : '.item',
    	columnWidth : 20
  		});
		});
	</script>

</head>
<body>

<%= yield %>

</body>
</html>
